<header>
    <div id="app-name">
    Connecti
    </div>
    <div id="auth-links">
    <ul>
        <% if(locals.user) { %>
            <li><a href="/users/signout">Sign Out</a></li>
        <% }else{ %>
            <li><a href="/users/signin">SignIn</a></li>
            <li><a href="/users/signup">SignUp</a></li>
        <% } %>
    </ul>
    </div>
</header>