#home-container{
    display: flex;
    border: 1px solid black;
    height: 100%;
    #feed-posts{
        width: 70%;
        height: 100%;
        padding: 10px;
    }
    #user-friend{
        width: 30%;
    }
}